<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204006651296-l6qia4bqpuokpo24p3n6pbbv3t2k3dsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204006651296-l6qia4bqpuokpo24p3n6pbbv3t2k3dsb</string>
	<key>API_KEY</key>
	<string>AIzaSyC7u8CmvL4siw_Ec3SBnVyrxqaZOV-wZTs</string>
	<key>GCM_SENDER_ID</key>
	<string>204006651296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bc.bcapp</string>
	<key>PROJECT_ID</key>
	<string>bonbino-confort</string>
	<key>STORAGE_BUCKET</key>
	<string>bonbino-confort.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204006651296:ios:c17bc707738b08df7520c5</string>
</dict>
</plist>